/*General*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:400,500,700');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #262626;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p {
    color: #7f7e7e;
    font-size: 15px;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a:focus {
    outline: 0 solid;
}

a,
a:hover,
a:focus {
    /*-webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;*/
    text-decoration: none;
    /*outline: none;*/
    color: #5f5f5f;
    font-family: 'Montserrat', sans-serif;
    
}

#preloader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #f2f4f8;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

ul,
ol {
    margin: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

#preloader {
    overflow: hidden;
    background-color: #f2f4f8;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}

#preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    z-index: 8;
    -webkit-animation: 2000ms linear 0s normal none infinite running medica-thumb;
            animation: 2000ms linear 0s normal none infinite running medica-thumb;
}

.medica-load {
    -webkit-animation: 2000ms linear 0s normal none infinite running medica-load;
    animation: 2000ms linear 0s normal none infinite running medica-load;
    background: transparent none repeat scroll 0 0;
    border-color: #ffffff #ffffff #2f88fd;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 60px;
    position: absolute;
    width: 60px;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
}

@-webkit-keyframes medica-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes medica-load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes medica-thumb {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes medica-thumb {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    50% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.medica-table {
    display: table;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.medica-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-100 {
    margin-bottom: 100px;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-default {
    background-color: #172538;
}

.bg-gray {
    background-color: #e0f3f9;
}

.bg-transparent {
    background-color: transparent;
}

.bg-transparent-dark {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.bg-transparent-light {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}
.height-900{
    height: 900px !important
}
.height-1000{
    height: 1000px !important
}
.height-100vh{
    height: 100vh !important
}
#scrollUp {
    background: #2683c2;
    /*background: -webkit-linear-gradient(to right, #3de6fa, #243eff);
    background: -webkit-linear-gradient(left, #3de6fa, #243eff);
    background: linear-gradient(to right, #3de6fa, #243eff);*/
    border-radius: 100px;
    bottom: 40px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 24px;
    height: 40px;
    line-height: 38px;
    right: 10px;
    text-align: center;
    width: 40px;
}

.section_padding_100 {
    padding: 100px 0;
}

.section_padding_50 {
    padding: 50px 0;
}

.section_padding_50_0 {
    padding: 50px 0 0 0;
}

.section_padding_100_70 {
    padding: 100px 0 70px;
}

.section_padding_100_50 {
    padding: 100px 0 50px;
}

.section_padding_100_0 {
    padding: 100px 0 0;
}

.section_padding_0_100 {
    padding: 0 0 100px;
}

.section_padding_100_20 {
    padding: 100px 0 20px 0;
}

.section_heading {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}

.section_heading img {
    margin-bottom: 10px;
}

.section_heading h2 {
    font-size: 36px;
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: 600;
}

.section_heading.white-heading h2 {
    color: #fff;
}

.section_heading p {
    margin-bottom: 0;
    margin-top: 5px;
}


/**************************************************/
/* :: 4.0 Header Area CSS */

.header-area {
    position: relative;
    z-index: 100;
    
}

.top-header {
    position: relative;
    z-index: 1;
    height: 45px;
    background-color: #ffffff; }
    .top-header p {
      margin-bottom: 0;
      color: #4E5153; }
      .top-header p span {
        color: #2683c2; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .top-header p {
          font-size: 13px; } }
      @media only screen and (max-width: 767px) {
        .top-header p {
          font-size: 12px; } }
    @media only screen and (max-width: 767px) {
      .top-header {
        height: auto;
        padding: 15px 0; } }
  
.main-header-area {
    width: 100%;
    height: 90px;
    position: relative;
    z-index: 1;
    background-color: #0D47A1;
}

.is-sticky .main-header-area {
    width: 100%;
    z-index: 10000 !important;
    background-color: #0D47A1;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
}

.navbar {
    padding: 0;
}

.header-area .main-menu .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #5f5f5f;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.header-area .main-menu .nav-item.active .nav-link,
.header-area .main-menu .nav-link:hover,
.header-area .main-menu .nav-link:focus {
    color: #2f88fd;
}
.navbar-brand{
    color: #FFFFFF;
    font-size: 30px;
}
.navbar-brand:hover{
    color: #FFFFFF;
}
/**********************/
.header-area .main-menu .nav-link {
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px 15px;
    color: #ffffff;
    font-weight: 500;
    margin: 0 2px; 
    border-radius: 4px;
}
    .header-area .main-menu .nav-link:hover {
      background-color: #2682c2; 
      color: #FFFFFF;
    }
    .header-area .main-menu .nav-link:focus {
      background-color: #2682c2; 
      color: #FFFFFF;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .header-area .main-menu .nav-link {
        padding: 10px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .main-menu .nav-link {
        padding: 10px 30px;
        margin: 1px 0; } }
    @media only screen and (max-width: 767px) {
      .header-area .main-menu .nav-link {
        padding: 10px 30px;
        margin: 1px 0; } }
  
  .header-area .main-menu .nav-item.active .nav-link {
    background-color: #2683c2; 
    color: #FFFFFF
}
/*************************/
.dropdown-menu.show {
    border: none;
    padding: 15px 0;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
    margin-top: 15px;
}

.dropdown-item {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #5f5f5f;
    text-transform: uppercase;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #2683c2;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f4f8;
}


/* :: 5.0 Welcome Area CSS */

.hero-area,
.single-hero-slide {
    position: relative;
    z-index: 1;
    width: 100%;
}

.hero-slides-content h2 {
    color: #fff;
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-slides-content h5 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

.hero-area .owl-prev,
.hero-area .owl-next,
.medica-testimonials-area .owl-prev,
.medica-testimonials-area .owl-next {
    width: 74px;
    height:74px;
    position: absolute;
    border: 2px solid #424242 ;
    border-radius: 100px;
    background: #424242 ;
    top: 50%;
    line-height: 74px;
    text-align: center;
    color: #fff;
    left: 70px;
    font-size: 30px;
    margin-top: -22px;
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
}

.hero-area .owl-next,
.medica-testimonials-area .owl-next {
    left: auto;
    right: 70px;
}

.hero-area .owl-dots {
    width: 1110px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.hero-area .owl-dot {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    border: 2px solid transparent;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 31px;
    font-weight: 600;
}

.hero-area .owl-dot.active {
    border: 2px solid #fff;
}

.hero-area:hover .owl-prev,
.hero-area:hover .owl-next,
.medica-testimonials-area:hover .owl-prev,
.medica-testimonials-area:hover .owl-next {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.medica-about-us-area {
    position: relative;
    z-index: 1;
}

.medica-about-us-area:after {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 80px;
    left: 0;
    background-color: #e5f1f3;
    content: '';
    width: 100%;
}

.medica-contact-info-area {
    padding: 50px 0 0;
    background-color: #e5f1f3;
}

.single-contact-info {
    margin-bottom: 50px;
}

.contact-meta p {
    margin: 0;
    color: #6c6c6c;
}

.medica-emergency-card,
.medica-doctors-card,
.medica-appointment-card,
.medica-department-card,
.medica-contact-card,
.medica-catagories-card,
.latest-news-widget-area {
    padding: 50px 40px;
    background-color: #38c3fb;
    width: 100%;
}

.medica-card-area .col-12 {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.medica-doctors-card,
.medica-department-card {
    background-color: #2f88fd;
}

.medica-appointment-card {
    background-color: #1063cf;
    padding-bottom: 30px;
}

.medica-contact-card {
    background-color: #093f86;
}

.latest-news-widget-area,
.medica-catagories-card {
    background-color: transparent;
}

.medica-emergency-card h5,
.medica-doctors-card h5,
.medica-appointment-card h5,
.medica-department-card h5,
.medica-contact-card h5 {
    color: #fff;
    margin-bottom: 20px;
}

.latest-news-widget-area h5,
.medica-catagories-card h5 {
    margin-bottom: 20px;
    font-weight: 600;
}

.medica-emergency-card h4 {
    color: #093c80;
    margin-bottom: 30px;
}

.medica-emergency-card p,
.medica-doctors-card p {
    color: #fff;
    margin-bottom: 35px;
}

.medica-emergency-card > a,
.medica-doctors-card > a {
    color: #fff;
    font-size: 12px;
}

.medica-appointment-card .form-control {
    width: 100%;
    height: 40px;
    background-color: #2f88fd;
    border: none;
    border-radius: 0;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    color: #fff;
    position: relative;
    z-index: 1;
}

.medica-appointment-card .form-control::-webkit-input-placeholder {
    color: #fff;
}

.medica-appointment-card .form-control::-moz-placeholder {
    color: #fff;
}

.medica-appointment-card .form-control:-ms-input-placeholder {
    color: #fff;
}

.medica-appointment-card .form-control::placeholder {
    color: #fff;
}


.li-contacto{
    background: #E65100;
    padding: 0px;
    border-radius: 4px;
}
.li-contacto a{
    color: #FFFFFF !important;
}

/*LISTAs*/
ul.lista-s {
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;*/
}

ul.lista-s li {
    /*-webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;*/
    position: relative;
    z-index: 1;
    padding-left: 40px;
    margin-bottom: 10px;
    font-size: 16px;
}

ul.lista-s li:before {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #2683c2;
    border-radius: 50%;
    content: '';
}

.bg-dark-f{
    background: #0C0C0C;
}
.sislab-text{
    color: #2683c2;
}
.sislab-bg{
    background: #2683c2;
}

h2 span {
    background-color: #2682c2;
    color: #fff;
    padding: 2px;
}

/* :: 13.0 Breadcumb Area CSS */

.breadcumb-area {
    /*background: #0d47a1;*/
    width: 100%;
    height: 150px;
    position: relative;
    z-index: 1;
}

.breadcumb-title {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.breadcumb-subtitle {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.breadcrumb-item.active,
.breadcrumb-item a,
.breadcrumb-item {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.breadcrumb-item + .breadcrumb-item:before {
    content: "|";
    color: #fff;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
}

/*LIST*/
ul.check1 {
    padding: 0.1em 0.1em 0.1em 1.4em;
    position: relative;
  }
  
  ul.check1 li {
    /*line-height: 1.4;*/
    line-height: 140%;
    font-size: 17px !important;
    padding: 0.1em 0;
    list-style-type: none!important;
  }
  
  ul.check1 li:before {
    font-family: FontAwesome;
    content: "\f058";
    position: absolute;
    left : 0.1em;
    color: #2683c2;
    border-radius:100%;
  }

  ul.check2 {
    padding: 0.1em 0.1em 0.1em 1.4em;
    position: relative;
  }
  
  ul.check2 li {
    /*line-height: 1.4;*/
    line-height: 140%;
    font-size: 17px !important;
    padding: 0.4em 0;
    list-style-type: none!important;
  }
  
  ul.check2 li:before {
    font-family: FontAwesome;
    content: "\f0da";
    position: absolute;
    left : 0.1em;
    color: #2683c2;
    border-radius:100%;
  }
  
  .text-light-grey{
      color: #f5f5f5 ;
  }
  /*QUE ES*/
  /* :: 7.0 Service Area CSS */

.medica-services-area {
    position: relative;
    z-index: 1;
}

.modulo-q {
    margin-bottom: 30px;
}

.modulo-q i {
    border: 2px solid #FFFFFF ;
    padding:10px;
    border-radius: 100px;
    /*margin-top: 40px;*/
    margin-bottom: 30px;
    font-size: 40px !important;
    color:#2682c2; 
}

.modulo-q h5 {
    color: #fff;
    margin-bottom: 30px;
}

.modulo-q p {
    text-align: justify;
    color: #fff;
    margin-bottom: 0;
}

/*PORQUE ELEGIRNOS*/
.ps {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  /*EXPERIENCIA*/
.experiencia-img {
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
.experiencia-img-tam1 img{
    height:180px; 
    width:240px;
}
.experiencia-img-tam2 img{
    height:180px; 
    width:250px;
}
.experiencia-img-tam img{
    height:150px; 
    width:250px;
}

/*INDEX*/
.flex-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 0 30px;
    display: inline-block;
    max-width: 1170px;
    margin: auto;
    bottom: 50px;
}
.flex-caption h2 {
    background: rgb(218, 68, 83);
    background: rgba(218, 68, 83, 0.7);
    font-weight: 400;
    font-size: 24px;
    max-width: 640px;
    display: inline-block;
    padding: 12px 20px;
    margin-bottom: 0;
    color: #fff;
}
.entry-title {
    margin-top: 0;
}
.entry-title {
    color: #444;
    font-size: 28px;
    margin-bottom: 30px;
}
.flex-caption .excerpt {
    background: rgb(59, 59, 59);
    background: rgba(59, 59, 59, 0.8);
    display: block;
    color: #ddd;
    max-width: 900px;
    padding: 12px 20px;
    font-size: 20px;
}

/*PRECIOS*/
.s_precios .container .row .card {
    margin-bottom: 20px;
}

.s_precios .container .row .card .card-body .card-title {
    text-align: center;
    font-size: 2.1em;
}
.s_precios .container .row .card .card-header p {
    color: #ffffff;
    margin-top: -25px;
    text-align: center;
    font-size: 20px;
}
.s_precios .container .row .card .card-header.p_base,
.s_precios .container .row .card .card-header.p_gold,
.s_precios .container .row .card .card-header.p_premium,
.s_precios .container .row .card .card-header.p_paquete1,
.s_precios .container .row .card .card-header.p_paquete2,
.s_precios .container .row .card .card-header.p_paquete3,
.s_precios .container .row .card .card-header.p_paquete4 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    height: 120px;
    font-size: 23px;
    text-align: center;
}
.card.t_p_4 .card-body{
    height:219px;
}
.s_precios .container .row .card .card-header.p_base {
    background: #0473D5;
}
.s_precios .container .row .card .card-header.p_gold {
    background: #FFBF00;
}
.s_precios .container .row .card .card-header.p_premium {
    background: #A7ABAE;
}
.s_precios .container .row .card .card-header.p_paquete1 {
    background: #00695c;
}
.s_precios .container .row .card .card-header.p_paquete2 {
    background: #9933CC;
}
.s_precios .container .row .card .card-header.p_paquete3 {
    background: #3F51B5;
}
.s_precios .container .row .card .card-header.p_paquete4 {
    background: #00BCD4;
}

.s_precios .container .row .card .card-body p.card-text {
    margin-top: -30px;
    color :#2E2E2E;
    text-align: center;
    font-size: 18px !important;
}
.s_precios .container .row .card .card-reveal_base,
.s_precios .container .row .card .card-reveal_gold,
.s_precios .container .row .card .card-reveal_premium,
.s_precios .container .row .card .card-reveal_pa1,
.s_precios .container .row .card .card-reveal_pa2,
.s_precios .container .row .card .card-reveal_pa3,
.s_precios .container .row .card .card-reveal_pa4{    
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    /*top: 0;*/
    left:0;
    bottom:0;
    height: 100%;
    z-index: 1;
    display: none;    
}

.s_precios .container .row .card .card-reveal_base p,
.s_precios .container .row .card .card-reveal_gold p,
.s_precios .container .row .card .card-reveal_premium p,
.s_precios .container .row .card .card-reveal_pa1 p,
.s_precios .container .row .card .card-reveal_pa2 p,
.s_precios .container .row .card .card-reveal_pa3 p,
.s_precios .container .row .card .card-reveal_pa4 p{
    color: rgba(0, 0, 0, 0.71);
    margin:20px ;
} 
.s_precios .container .row .card .card-reveal_base ul li,
.s_precios .container .row .card .card-reveal_gold ul li,
.s_precios .container .row .card .card-reveal_premium ul li,
.s_precios .container .row .card .card-reveal_pa1 ul li,
.s_precios .container .row .card .card-reveal_pa2 ul li,
.s_precios .container .row .card .card-reveal_pa3 ul li,
.s_precios .container .row .card .card-reveal_pa4 ul li{
    font-size: 14px;
    text-align: justify;
    color: #2b2b2b;
}
.s_precios .container .row .card .card-body p.card-text {
    margin-top: -30px;
    text-align: center;
    font-size: 20px;
}
.s_precios .container .row .card .btn-description1 a{
    background:#188AC8;
    color:#ffffff;
}
.s_precios .container .row .card .btn-description1 a:hover{
    background:#3291C5;
    color:#ffffff;
}
/*.s_precios .container .row .card .card-body .promo{
    margin-top:-40px;
    background:#FFC107; 
    color:#f1f1f1; 
    border-radius:4px;
}
.s_precios .container .row .card .card-body .promo h6,
.s_precios .container .row .card .card-body .promo small{
    margin-bottom:-2px;
}*/

.card {
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    transition: all .3s ease-in-out;
    position: relative;
  }
  
  .card:hover {
      transform: scale(1.05);
      -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
      box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
  }
  .badge{
    margin-top:-20px;
    font-size:23px;
    color:#FFFFFF;
    
}
.badge-des0{
    padding-left:30px;
    padding-right:30px;
}
.badge-des{
    margin-top:10px;
/*    padding-top:4px;
    padding-bottom:4px;*/
    padding-left:30px;
    padding-top:4px !important;
    padding-bottom:4px !important;
    padding-right:30px;
    font-size:26px !important;
    color:#FFFFFF;
}
.sizePaquetes .card .card-reveal_pa4 ul li,
.sizePaquetes .card .card-reveal_pa3 ul li,
.sizePaquetes .card .card-reveal_pa2 ul li,
.sizePaquetes .card .card-reveal_pa1 ul li {
    margin-left:-20px;
    font-size: 13px !important;
}
 .s_precios .container h3{
    padding-top:65px;
    font-size:30px;
}
.s_precios .container h3{
    font-family: sans-serif;
    font-style: normal;
    font-size:34px;
}
.s_precios .container p {
    font-size: 30px;
    font-weight: 600;
    padding-top: 25px;
}
.s_precios .container p {
    position: relative;
    font-size: 30px;
    padding-top: 35px;
    padding-bottom: 20px;
}
.card{
    -webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}